body{

  background-color:#faeee7;
}
h2{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
hr{
  border-style: solid;
  border-top-style: solid;
  border-color: #80bdab;
  border-width: 1px;
  width: auto;
  border-spacing: inherit;
}
